---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro"
---


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Abhishek Mehta, an 18-year-old creative dynamo with a passion for storytelling and innovation. As a budding story writer, Abhishek crafts compelling narratives that captivate audiences and leave them craving more. His knack for promotion ensures that his stories reach wide audiences, making him a force to be reckoned with in the world of storytelling. Beyond his literary talents, Abhishek is also a visionary entrepreneur, constantly brewing up fresh business ideas that push the boundaries of possibility. With a keen eye for detail and a flair for account management, Abhishek is poised to make a lasting impact on both the creative and business realms. Get ready to be inspired by the boundless imagination and entrepreneurial spirit of Abhishek Mehta.">
		<title>Abhishek Mehta</title>

		<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">
	</head>
	<body class="bg-white dark:bg-gray-900">
		<AppHeader/>
		<slot />
		<AppFooter/>
	</body>
</html>
<style>
	html {
		font-family: Urbanist, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		margin: 0;
	}
</style>
